<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Game Index</title>
    <link rel="shortcut icon" type="image/png" href="img/fa_icon.png"/>
    <!-- Include Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Include Font-awesome css -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

    <!-- Include Custom_main.css css -->
    <link rel="stylesheet" type="text/css" href="css/custom_main.css"/>
    <!-- Include Main.css -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <!-- Include font dosis -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Lora|Merriweather" rel="stylesheet">

    <!-- Include Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <!-- Include Jquery -->
    <script src="js/jquery-3.3.1.js" type="text/javascript"></script>
    <!-- Include Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" type="text/javascript"></script>
    <!-- Include Notify -->
    <script src="js/bootstrap-notify.js" type="text/javascript"></script>
    <!--Include dropdown popper.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!--Include bootstrap.js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--Include handle_main.js -->
    <script src="js/handle_main.js" type="text/javascript"></script>
    <!--Include main.js -->
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
<!--menu-->
<!--menu-->
<div id="menu">
    <div class="container">
        <ul class="nav justify-content-end" style="background: #1a86ca;padding: 0 15px;">

            <li class="nav-item dropdown  ">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <img class="avata_player" src="img/default-avatar.png"><span class="player_name">Username</span>
                </a>
                <div class="dropdown-menu dropdown_userinfo" style="right: 0">

                    <a class="dropdown-item" href="/referrent_link"><i class="fa fa-user-o" aria-hidden="true"></i> Cá nhân</a>
                    <a class="dropdown-item" href="/login"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </div>
            </li>

            <li class="nav-item dropdown ">
                <a class="nav-link icon_bell" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-bell-o" aria-hidden="true"><span class="notification">!</span></i>
                </a>
                <div class="dropdown-menu dropdown_notification">
                    <div class="beeperNub"></div>
                    <h3 class="uiHeaderTitle" aria-hidden="true" style="    color: #333;
    font-size: 12px;">Thông báo</h3>

                    <ul class="notification_content">
                        <li class="empty_nofication">Hiện chưa có thông báo nào cả</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--Container-->
<div class="container">
    <!--banner-->
    <div id="header" class="row">
        <div class="banner_ads col-md-12">
            <img width="100%" height="100" src="img/banner3.jpg">
        </div>
    </div>
    <!--menu-->
    <div class="menu-bar">
        <nav style="background: #1a86ca;" class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand" href="/top_rank"><i class="fa fa-trophy" aria-hidden="true"></i>
                            Bảng xếp hạng</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand" href="/history"><i class="fa fa-history" aria-hidden="true"></i>
                            Lịch sử chơi</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand " href="/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Tin tức</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="pagenews row">
        <div class="header_pagenews col-md-12">
            <span style="font-size: 15px;color: #333;font-weight: 600"><a style="color: #333" href="/"><i style="margin-right: 5px" class="fa fa-home" aria-hidden="true"></i>Trang chủ </a></span> > <span style="font-size: 15px;color: #333;font-weight: 600"> Tin tức</span>

        </div>
        <div class="container_pagenews col-md-12">
            <ul class="list_news">
                <li>
                    <div class="pagenews_img">
                        <img src="img/audition-bay-cung-olympic-vn.jpg" alt="">
                    </div>
                    <div class="pagenews_content">
                        <div class="pagenews_title"><a href="">[HOT] (SIÊU BÃO SỰ KIỆN) Audition - Bay cao chiến thắng
                            cùng Olympic Việt Nam</a></div>
                        <div class="pagenews_entrycontent">
                            Cùng chung vui với niềm hạnh phúc trên cả tuyệt vời đó, các admin xin dành tặng cánh Bay VIP
                            Việt Nam
                            thời hạn 07 ngày dành cho các vũ công với điều kiện quá sức đơn giản là login tối thiểu 10
                            phút vào game chỉ trong ngày 28/8.
                            Sở hữu cánh bay chưa bao giờ đơn giản đến thế, nhuộm đỏ thành phố Vũ hội, nhuộm đỏ cả Au đi
                            nào....
                        </div>
                        <div class="pagenews_datetime"><span><i class="fa fa-calendar" aria-hidden="true"></i></span><span> 28/08/2018 | 08:07</span></div>
                    </div>
                </li>
                <li>
                    <div class="pagenews_img">
                        <img src="img/audition-bay-cung-olympic-vn.jpg" alt="">
                    </div>
                    <div class="pagenews_content">
                        <div class="pagenews_title"><a href="">[HOT] (SIÊU BÃO SỰ KIỆN) Audition - Bay cao chiến thắng
                            cùng Olympic Việt Nam</a></div>
                        <div class="pagenews_entrycontent">
                            Cùng chung vui với niềm hạnh phúc trên cả tuyệt vời đó, các admin xin dành tặng cánh Bay VIP
                            Việt Nam
                            thời hạn 07 ngày dành cho các vũ công với điều kiện quá sức đơn giản là login tối thiểu 10
                            phút vào game chỉ trong ngày 28/8.
                            Sở hữu cánh bay chưa bao giờ đơn giản đến thế, nhuộm đỏ thành phố Vũ hội, nhuộm đỏ cả Au đi
                            nào....
                        </div>
                        <div class="pagenews_datetime"><span><i class="fa fa-calendar" aria-hidden="true"></i></span><span> 28/08/2018 | 08:07</span></div>
                    </div>
                </li>
                <li>
                    <div class="pagenews_img">
                        <img src="img/audition-bay-cung-olympic-vn.jpg" alt="">
                    </div>
                    <div class="pagenews_content">
                        <div class="pagenews_title"><a href="">[HOT] (SIÊU BÃO SỰ KIỆN) Audition - Bay cao chiến thắng
                            cùng Olympic Việt Nam</a></div>
                        <div class="pagenews_entrycontent">
                            Cùng chung vui với niềm hạnh phúc trên cả tuyệt vời đó, các admin xin dành tặng cánh Bay VIP
                            Việt Nam
                            thời hạn 07 ngày dành cho các vũ công với điều kiện quá sức đơn giản là login tối thiểu 10
                            phút vào game chỉ trong ngày 28/8.
                            Sở hữu cánh bay chưa bao giờ đơn giản đến thế, nhuộm đỏ thành phố Vũ hội, nhuộm đỏ cả Au đi
                            nào....
                        </div>
                        <div class="pagenews_datetime"><span><i class="fa fa-calendar" aria-hidden="true"></i></span><span> 28/08/2018 | 08:07</span></div>
                    </div>
                </li>
                <li>
                    <div class="pagenews_img">
                        <img src="img/audition-bay-cung-olympic-vn.jpg" alt="">
                    </div>
                    <div class="pagenews_content">
                        <div class="pagenews_title"><a href="">[HOT] (SIÊU BÃO SỰ KIỆN) Audition - Bay cao chiến thắng
                            cùng Olympic Việt Nam</a></div>
                        <div class="pagenews_entrycontent">
                            Cùng chung vui với niềm hạnh phúc trên cả tuyệt vời đó, các admin xin dành tặng cánh Bay VIP
                            Việt Nam
                            thời hạn 07 ngày dành cho các vũ công với điều kiện quá sức đơn giản là login tối thiểu 10
                            phút vào game chỉ trong ngày 28/8.
                            Sở hữu cánh bay chưa bao giờ đơn giản đến thế, nhuộm đỏ thành phố Vũ hội, nhuộm đỏ cả Au đi
                            nào....
                        </div>
                        <div class="pagenews_datetime"><span><i class="fa fa-calendar" aria-hidden="true"></i></span><span> 28/08/2018 | 08:07</span></div>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <div class="paging">
        <ul class="pagination modal-3">
            <li><a href="#" class="prev">&laquo</a></li>
            <li><a href="#" class="active">1</a></li>
            <li> <a href="#">2</a></li>
            <li> <a href="#">3</a></li>
            <li> <a href="#">4</a></li>
            <li> <a href="#">5</a></li>
            <li> <a href="#">6</a></li>
            <li> <a href="#">7</a></li>
            <li> <a href="#">8</a></li>
            <li> <a href="#">9</a></li>
            <li><a href="#" class="next">&raquo;</a></li>
        </ul>
    </div>
    <div class="footer">
        Copyright © 2018 Inet Solutions. All rights reserved.
    </div>
</div>
</body>
<footer>

</footer>
</html>